

{% extends 'layout.html' %}


{% block content %}

{% load static %}
{% include 'partials/navegacion.html' %}<!--NAVBAR-->
{% include 'partials/buscador.html' %}<!--BUSCADOR-->

<h1 class="titulo__resultado">Palabras Embera Dóbida</h1>


{% for palabra in verbal %}

<article class="targeta centrado">
<div class="targeta__contenido">
    <h3 class="contenido__nombre">{{palabra.nombre}} 
        <span class="clase__palabra">
            ({{palabra.clasificacion}})
        </span>
    </h3>
    <p class="contenido__tipo">{{palabra.tipo}}</p>
    <p class="contenido__significado">{{palabra.significado}}</p> 
</div>
</article>


{% endfor %}
{% include 'partials/paginador.html' %}

{% endblock %}