{% extends 'layout.html' %}
{% block content %}

{% load static %}
<header id="header">
	{% include 'partials/navegacion.html' %}<!--NAVBAR-->
	<section class="contenedor__header centrado">
		<h1 class="titulo__header">Bienvenido al diccionario <br> El Portavoz Chocoano: <br> "Un dialecto que une territorio"</h1>

		<!--BUSCADOR-->
		{% include 'partials/buscador.html' %}<!--BUSCADOR-->
		<!--BUSCADOR-->

		<div class="contenedor__texto--header">
			<p class="palabras__ejemplos">Ejemplos: 
				<a class="palabra__ejemplo">Bujú,</a> 
				<a class="palabra__ejemplo">Guayabo</a> 
			</p>
			<div class="expresiones">
				<a href="{% url 'indigena' %}" class=" expresiones__indigena--afro expresiones__indigena">Embera</a>
				<a href="{% url 'afro' %}" class="expresiones__indigena--afro expresiones__afro">Afro</a>
			</div>
			<div class="imagen__fondo"></div>
		</div> 
		<figure class="figura">
			<img src="{% static 'img/humano.png' %}" class="figura__imagen" alt="Grupo de Personas en Dibujo">
		</figure>
	</section>
</header>

<main class="main">
	<!--PALABRASMAS BUSCADAS-->
	<section class="contenido centrado">
		<div class="adorno">	
			<span class="span"><em></em></span>
		</div>
		<div class="contenido__titulos">
			<h2 class="contenido__titulos--h2">Palabras que deberias conocer</h2>
			<h3 class="contenido__titulos--h3">Aprende un poco sobre las palabras de nuestro territorio</h3>
		</div>
	</section>
	<article class="carrusel">
		<div class="splide">
			<div class="splide__track centrado">
				<ul class="splide__list">
					
					{% for m in muestra %}						
					<li class="splide__slide">
						<div class="splide__element">
							<p class="splide__element--a">{{ m.nombre }} <span class="span__tipo">({{ m.clasificacion }})</span></p>
							<br>
							<br>
							<p>{{ m.significado }}</p>
							<br>
							<br>
						</div>
					</li>	
					{% endfor %}						
				</ul>
			</div>
		</div>
	</article>
	<!--PALABRASMAS BUSCADAS-->
</main>


{% endblock %}