{% load static %}

<form action="{% url 'resultados' %}" class="buscador">
    <div class="contenido__buscador">
        <input name="busqueda" type="text" class="buscador__input buscar" id="busqueda" placeholder="Buscar palabra o frase...">
        <span class="borrar" onclick="document.getElementById('busqueda').value = '' "></span>
        
        <!-- <input type="submit"> -->
        <button type="submit" class="buscador__input icono" title="Buscar"><i class="fas fa-search"></i></button>
    </div>
</form>