{% load static %}
<footer class="footer">
    <div class="footer__titulos">
        <a href="{% url 'inicio' %}" class="footer__titulo">Inicio</a>
        <a href='indigena' class="footer__titulo">Indígena</a>
        <a href='afro' class="footer__titulo">Afro</a>
        <a href='acerca-de' class="footer__titulo">Acerca de</a>
        <a href='apoya' class="footer__titulo">Apoya</a>
    </div>
    <div class="footer__redes">
        <a href="https://www.facebook.com/BibliotecaArnoldoPalacios" class="footer__redes--enlace" title="¡ Síguenos En Facebook :) !"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__redes--enlace" title="¡ Síguenos En Instagram :) !"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer__redes--enlace" title="¡ Síguenos En Twitter :) !"><i class="fab fa-twitter"></i></a>
    </div>
    <div>
        <div class="centrado footer__organizaciones">
            <a href="#" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/Min_Blanco.png' %}" alt="">
            </a>
            <a href="#" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/BNC_Blanco.png' %}" alt="">
            </a>
            <a href="#" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/Logo_3.png' %}" alt="">
            </a>
        </div>
    </div>

    <div class="footer__copyright">
        <a class="creative_enlace creativo_icon" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
        <div class="contenedor licencia">
            <a class="creative_enlace licencia__a" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Esta obra está bajo una licencia de Creative Commons Reconocimiento 4.0 Internacional</a>
        </div>
    </div>
</footer>