{% load static %}
<footer class="footer">
    <div class="footer__titulos">
        <p class="footer__titulo">El portavoz Chocoano "Un dialecto que une territorio"</p>
        <!--
            <a href='indigena' class="footer__titulo">Indígena</a>
            <a href='afro' class="footer__titulo">Afro</a>
            <a href='acerca-de' class="footer__titulo">Acerca de</a>
            <a href='apoya' class="footer__titulo">Apoya</a>
        --> 
    </div>
        <div class="footer__redes">
            <p class="footer__titulo">Proyecto ganador del Programa Nacional de Estímulos 2021</p>
            <p class="footer__titulo">en la beca
            "Desarrollo y divulgación de contenidos locales, en Bibliotecas Públicas adscritas a la Red Nacional de Bibliotecas Públicas de Colombia"</p>
            <p class="footer__titulo">Ministerio de Cultura</p>
        </div>
    <div>
        <div class="centrado footer__organizaciones">
            <a href="https://www.mincultura.gov.co/" target="_blank" rel="noreferrer noopener" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/Logo-Mincultura.png' %}" alt="">
            </a>
            <a href="https://bibliotecanacional.gov.co/es-co" target="_blank" rel="noreferrer noopener" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/BNC_Blanco.png' %}" alt="">
            </a>
            <a href="http://www.aeropuertoquibdo.co/web/page/418/Biblioteca" target="_blank" rel="noreferrer noopener" class="footer__logos">
                <img class="footer__logos-img" src="{% static 'img/Logo_3.png' %}" alt="">
            </a>
        </div>
    </div>

    <div class="footer__copyright">
        <a class="creative_enlace creativo_icon" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Licencia de Creative Commons" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
        </a>
        <div class="contenedor licencia">
            <a class="creative_enlace licencia__a" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Esta obra está bajo una licencia de Creative Commons Reconocimiento 4.0 Internacional</a>
        </div>
    </div>
</footer>
