{% load static %}
<footer class="footer">
    <div class="footer__titulos">
        <a href="{% url 'inicio' %}" class="footer__titulo">Inicio</a>
        <a href='indigena' class="footer__titulo">Indígena</a>
        <a href='afro' class="footer__titulo">Afro</a>
        <a href='acerca-de' class="footer__titulo">Acerca de</a>
        <a href='apoya' class="footer__titulo">Apoya</a>
    </div>
    <div class="footer__redes">
        <a href="https://www.facebook.com/BibliotecaArnoldoPalacios" class="footer__redes--enlace" title="¡ Síguenos En Facebook :) !"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="footer__redes--enlace" title="¡ Síguenos En Instagram :) !"><i class="fab fa-instagram"></i></a>
        <a href="#" class="footer__redes--enlace" title="¡ Síguenos En Twitter :) !"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright--parrafo">© Copyright 2022 - Portavoz Afro-Indígena</p>
    </div>
</footer>