/* Menú */
@font-face {
    font-family: fuentePrincipal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
:root {
    --blanco: #fff;
    --negro: #333333;
    --gris: #DDDDDD;
    --HeaderDegradoUno: #7162FE;
    --HeaderDegradoDos: #746eff;

    --paddingBoton: 1.25rem 2.4rem;

    --BotonBuscar: #FFD523;
    --BotonBuscarHover: #FFC107;
}
/* Obligatorio */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Generalidades */
body {
    font-family: fuentePrincipal;
}
a {
    text-decoration: none;
}
/* Utilidades */
.centrado {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
/*Header*/
#header {
    height: 85rem;
    background: linear-gradient(180deg, var(--HeaderDegradoDos) 0%, var(--HeaderDegradoUno) 100%);
    transition: height .4s ease-in-out;
}
.menu {
    position: relative;
    color: var(--blanco); 
    height: 6.5rem;
    z-index: 10;
    transition: height .3s ease-in;
    background: linear-gradient(180deg,var(--HeaderDegradoUno) 0%,var(--HeaderDegradoDos));
}
.menu__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
.menu__logo {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--blanco);
}
.menu__enlaces {
    display: flex;
    /* align-items: center; */ /* Con el height: 100%; en el contenedor no es necesario aplicar este estilo*/
    height: 100%;
    gap: 2rem;
    transition: transform .4s;
}
.menu__item {
    list-style: none;
    height: 100%;
}
.menu__enlace {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
    color: var(--blanco);
    text-decoration: none;
    transition: .3s;
}
.menu__enlace:hover {
    color: var(--gris);
}
.menu__hamburguesa {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    display: none;
}
.fa-bars {
    font-size: 2.5rem;
}

/* Incio Contenido Header*/
.contenedor__header {
    position: absolute;
    top: 10.8rem;
    left: 0;
    right: 0;
    transition: 1s ease;
}
.titulo__header {
    font-size: 6rem;
    text-align: center;
    color: var(--blanco);
    transition: font-size .5s ease-in;
}
.buscador {
    margin: 5rem auto 3rem auto;
    width: 70%;
    transition: width .5s ease;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}
.buscador__input {
    border: none;
    /* box-shadow: 0 0 0 1px #2C2E43; */
}
.contenido__buscador {
    position: relative;
}
.buscar {
    position: relative;
    height: 5.3rem;
    width: 87%;
    padding: 0 1.2rem;
    font-size: 2rem;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    outline: none;
    border: none;
    transition: .5s ease;
}
.buscar::placeholder {
    font-size: 2rem;
}
.icono {
    position: absolute;
    cursor: pointer;
    height: 5.3rem;
    width: 13%;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border: none;
    background-color: var(--BotonBuscar);
    right: 0;
    transition: .5s ease;
    border-left: 1px solid var(--negro);
}
.fa-search {
    color: var(--blanco);
    font-size: 2.2rem;
    font-weight:normal;
    transition: transform .3s ease;
}
button[type=submit]:hover {
    background-color: var(--BotonBuscarHover);
}
button[type=submit]:hover > .fa-search{
    transform: scale(1.4);
}
.borrar {
    position: absolute;
    top: calc(5.3rem / 4.5);
    transform: scaleX(-100%);
    height: 1.5rem;
    width: 1.5rem;
    right: 13%;
    margin-right: .5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--blanco);
}
.borrar::before {
    position: absolute;
    content: '';
    width: .1rem;
    height: 1.5rem;
    background-color: var(--negro);
    transform: rotate(45deg);
}
.borrar::after {
    position: absolute;
    content: '';
    width: .1rem;
    height: 1.5rem;
    background-color: var(--negro);
    transform: rotate(315deg);
}
input[type=text]:placeholder-shown ~ .borrar{ /* :placeholder-shown: comprueba si el input NO tiene texto */
    display: none;
}
/********************************/
.palabras__ejemplos {
    /* display: inline-block; */
    text-align: center;
    font-size: 1.6rem;
    color: var(--blanco);
    margin: 3rem 0;
}
.palabra__ejemplo {
    font-size: 1.6rem;
    color: var(--blanco);
    transition: color .4s ease;
}
.palabra__ejemplo:hover {
    color: var(--gris);
    border-bottom: 1.5px solid var(--gris);
}
.expresiones {
    text-align: center;
}
.expresiones__indigena--afro {
    font-size: 1.6rem;
    color: var(--blanco);
    border-radius: .25rem;
    transition: .3s ease-out;
}
.expresiones__indigena {
    margin-right: calc(5% / 2);
    padding: .7rem 3rem;
    outline: 1.5px solid var(--BotonBuscar);
    background-color: var(--BotonBuscar);
}
.expresiones__afro {
    padding: .7rem 4.5rem;
    outline: 1.5px solid var(--BotonBuscar);
}
/*Estado Hover*/
.expresiones__indigena:hover {
    background-color: transparent;
    outline: 1.5px solid var(--BotonBuscar);
}
.expresiones__afro:hover {
    background-color: var(--BotonBuscar);
}
.figura {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.8rem;
}
.figura__imagen {
    width: 85rem;
    background-size: cover;
    transition: .6s ease-in-out;
}

/*--> Media Query's <--*/

@media (max-width: 800px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .menu__hamburguesa {
        display: flex;
    }
    .menu__enlaces {
        position: fixed;
        max-width: 40rem;
        width: 100%;
        top: 6.5rem;
        bottom: 0;
        right: 0;
        background-color: var(--blanco);
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }
    .menu__enlace {
        padding: 2.5rem 0;
        padding-left: 3rem;
        font-size: 1.4rem;
        color: var(--negro);
        height: auto;
    }
    .menu__enlace:hover {
        background-color: var(--HeaderDegradoDos);
    }
    .menu__enlaces--mostrado {
        transition: transform .5s;
        transform: unset;
        width: 100%;
    }
}
.abajo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6.5rem;
    background-color: var(--HeaderDegradoDos);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0, .11);
    transition: box-shadow .2s ease-in;
}

/* Para Celulares */

/* (XS) */
@media (min-width: 0px) and (max-width: 340px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4.5rem;
    }
    .menu__enlaces {
        top: 4.5rem;
    }
    .menu__logo {
        font-size: 1.7rem;
    }
    .fa-bars {
        font-size: 1.7rem;
    }
    .titulo__header {
        font-size: 1.52rem;
    }
    .buscador {
        width: 25rem;
    }
    .buscar {
        height: 4rem;
        width: 80%;
        font-size: 1.25rem;
        border-radius: 0;
    }
    .buscar::placeholder {
        font-size: 1.25rem;
    }
    .icono {
        height: 4rem;
        width: 20%;
        border-radius: 0;
    }
    .fa-search {
        font-size: 1.5rem;
    }
    .borrar {
        top: calc(5.3rem / 10);
        right: 17%;
    }
    .borrar::before, .borrar::after {
        width: .1rem;
        height: 1.2rem;
    }
    .palabras__ejemplos, .palabra__ejemplo {
        font-size: 1.18rem;
    }
    .expresiones {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .btn {
        font-size: .9rem;
        border-radius: 0;
    }
    .btn__afro {
        padding: 1.25rem 3.45rem;
    }
    .figura__imagen {
        width: 22rem;
    }
    #header {
        height: 54rem;
    }
}

/* S */ 

@media (min-width: 340px) and (max-width: 470px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 5.5rem;
    }
    .menu__enlaces {
        top: 5.5rem;
    }
    .menu__logo {
        font-size: 2rem;
    }
    .fa-bars {
        font-size: 2rem;
    }
    .titulo__header {
        font-size: 2rem;
    }
    .buscador {
        width: 30rem;
    }
    .buscar {
        height: 4rem;
        width: 82%;
        font-size: 1.45rem;
        border-radius: 0;
    }
    .buscar::placeholder {
        font-size: 1.45rem;
    }
    .icono {
        height: 4rem;
        width: 18%;
        border-radius: 0;
    }
    .fa-search {
        font-size: 1.6rem;
    }
    .borrar {
        top: calc(5.3rem / 10);
        right: 16%;
    }
    .borrar::before, .borrar::after {
        width: .1rem;
        height: 1.2rem;
    }
    .palabras__ejemplos, .palabra__ejemplo {
        font-size: 1.38rem;
    }
    .expresiones {
        flex-direction: column;
        align-items: center;
        gap: 1.3rem;
    }
    .btn {
        font-size: 1.2rem;
        border-radius: 0;
    }
    .btn__afro {
        padding: 1.25rem 3.7rem;
    }
    .figura__imagen {
        width: 33rem;
    }
    #header {
        height: 58rem;
    }
}

/* Normal */

@media (min-width: 470px) and (max-width: 650px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .titulo__header {
        font-size: 2.8rem;
    }
    .buscador {
        width: 40rem;
    }
    .buscar {
        width: 82%;
    }
    .icono {
        width: 18%;
    }
    .borrar {
        right: 17%;
    }
    .figura__imagen {
        width: 44rem;
    }
    #header {
        height: 62rem;
    }
}

/* Tablets */
@media (min-width: 650px) and (max-width: 800px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .titulo__header {
        font-size: 3.9rem;
    }
    .buscador {
        width: 53rem;
    }
    .buscar {
        width: 87%;
    }
    .icono {
        width: 13%;
    }
    .figura__imagen {
        width: 55rem;
    }
    #header {
        height: 69rem;
    }
}
@media (min-width: 800px) and (max-width: 1031px) {
    .titulo__header {
        font-size: 4.5rem;
    }
    .buscador {
        width: 62rem;
    }
}
