@font-face {
    font-family: fuentePrincipal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: secundariaBold;
    src: url(../fonts/M_PLUS/MPLUS1p-Bold.ttf);
}
@font-face {
    font-family: secundariaRegular;
    src: url(../fonts/M_PLUS/MPLUS1p-Regular.ttf);
}
.targeta{
    width: 70%;
    background-color: #ffffff ;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.titulo__resultado{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 4.8rem;
    text-align: center;
}
.targeta__contenido{ 
    padding: 2.5rem 3rem;   
}

.contenido__nombre{
    font-size: 2rem;
    font-family: fuentePrincipal;
    margin-bottom: 1rem;
    font-weight:bold;
    
}
.clase__palabra{
    font-size: 2rem;
    font-family: fuentePrincipal;
    margin-bottom: 1rem;
    font-weight:normal;
    color: #969696;

}

.contenido__tipo{
    font-size: 1.6rem;
    color: #969696;
    font-family: secundariaBold;
    font-style: italic;


}


.contenido__significado{
    font-size: 1.6rem;
    font-family: secundariaRegular;
}
.paginador{
    display: flex;
    justify-content: center;
}
.pagination{
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
/*MEDIA QUERYES*/

/* Para Tablets */
@media (max-width: 800px) {
    .info__contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .targeta{
        width: 90%;
    }
}
/* Para celulares */
@media (max-width: 500px) {
    .info__contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .targeta{
        width: 90%;
    }
}
@media (max-width: 300px) {
    .info__contenedor {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90%;
    }
}





